
body{
    margin: 0;
    padding: 0;
    border: 10px solid cornflowerblue;
    border-bottom: none;
    height: 90vh;
    width: 90vw;
    box-sizing: border-box;
    margin: auto;
    margin-top: 5vh;
}
.main{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 100px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    height: 30vh;
    margin-top: auto;
}
.action{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inputclass{
    width: 30vw;
    background-color:rgb(169, 117, 80);
    color: whitesmoke;
    height: 5vh;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    padding: 10px;
}
.inputclass:focus{
    background-color: rgb(207, 170, 60);
}
.btnclass{
    height: 5vh;
    border: none;
    border-radius: 10px;
    /* background-color: rgb(194, 208, 233); */
    width: 7vw;
    margin-top: 2vh;
    font-size: 15px;
    background-color: burlywood;
}
.btnclass:hover{
    background-color: black;
    color: white;
}
p{
    text-align: center;
    font-size: large;
    border: 1px solid red;
}
li{
    list-style: none;
    font-size: x-large;
    width: 50vw;
    position: relative;
    border: 2px solid blue;
    border-top: none;

}
.checkBox{
    position: absolute;
    right: 15%;
    height: 3vh;
    width: 3vh;
    accent-color: black;
}

.delbtn{
    margin-left: 40%;
    position: absolute;
    right: 10%;
}